.footerContact{
    width: 100%;
    font-size: 30px;
    background: rgb(21, 20, 20);
    color: #fff;
    text-align: center;
}

.footerContact div{
    margin: 50px;
}

.footerContact div a{
    text-decoration: none;
    color: #fff;
    font-weight: normal;
}

@media(max-width: 876px){
    .footerContact div{
        margin-top: 20px;
        margin-bottom: 0px;
        display: block;
    }
}